<!doctype html>
<html>
    <head>
        <title>Neovis.js Simple Example</title>
        <style type="text/css">
            html, body {
                font: 16pt arial;
            }
    
            #viz {
                width: 900px;
                height: 700px;
                border: 1px solid lightgray;
                font: 22pt arial;
            }
        </style>
    </head>
    <body onload="draw()">


<h1>Agregar un Usuario</h1>
<form method="post" action="/login/usuario" >
    <label>Agregar un usuario</label><br>
    <input type="text" name="nombre">
    <br><br>
    <input type="submit" value="Submit">
    <br><br>
</form>

<h1>Agregar una Contraseña</h1>
<form method="post" action="/login/contra" >
    <label>Agregar un usuario</label><br>
    <input type="text" name="nombre">
    <br><br>
    <input type="submit" value="Submit">
    <br><br>
</form>


<h1>Relacionar un usuario con una contraseña</h1>
<form method="post" action="/login/usuario/contra" >
    <label>Usuario</label><br>
    <input type="text" name="nombreUsuario">
    <br><br>
    <label>Contraseña</label><br>
    <input type="text" name="nombreContra">
    <br><br>
    <input type="submit" value="Submit">
    <br><br>
</form>

<hr>
        
<h1>Agregar un jugador</h1>
<form method="post" action="/jugador/add" >
    <label>Agregar jugador</label><br>
    <input type="text" name="nombre">
    <br><br>
    <input type="submit" value="Submit">
    <br><br>
</form>


<h1>Agregar un equipo</h1>
<form method="post" action="/equipo/add" >
    <label>Agregar equipo</label><br>
    <input type="text" name="nombre">
    <br><br>
    <input type="submit" value="Submit">
    <br><br>
</form>



<h1>Agregar una competición</h1>
<form method="post" action="/competicion/add" >
    <label>Agregar una competición</label><br>
    <input type="text" name="nombre">
    <br><br>
    <input type="submit" value="Submit">
    <br><br>
</form>


<h1>Relacionar un equipo a una competición</h1>
<form method="post" action="/competicion/equipo/add" >
    <label>Agregar equipo</label><br>
    <input type="text" name="nombreEquipo">
    <br><br>
    <label>Agregar competición</label><br>
    <input type="text" name="nombreCompeticion">
    <br><br>
    <input type="submit" value="Submit">
    <br><br>
</form>



<h1>Relacionar un jugador a un equipo</h1>
<form method="post" action="/jugador/equipo/add" >
    <label>Agregar jugador</label><br>
    <input type="text" name="nombreJugador">
    <br><br>
    <label>Agregar equipo</label><br>
    <input type="text" name="nombreEquipo">
    <br><br>
    <input type="submit" value="Submit">
    <br><br>
</form>




<h3>Equipos</h3>
<ul>
<% equipos.forEach(function(equipo){ %>
    <li><%= equipo.nombre %></li>
<% }) %>
</ul>



<h3>Competiciones</h3>
<ul>
<% competiciones.forEach(function(competicion){ %>
    <li><%= competicion.nombre %></li>
<% }) %>
</ul>


<h1>Eliminar un equipo</h1>
<form method="post" action="/competicion/borrar/" >
    <label>Eliminar equipo</label><br>
    <input type="text" name="nombre">
    <br><br>
    <input type="submit" value="Submit">
    <br><br>
</form>



<h1>Eliminar una competición</h1>
<form method="delete" action="/competicion/borrar" >
    <label>Eliminar una competición</label><br>
    <input type="text" name="nombre">
    <br><br>
    <input type="submit" value="Submit">
    <br><br>
</form>



<h1>Borrar toda la base de datos</h1>
<form method="post" action="/borrar" >
    <input type="submit" value="Submit">
    <br><br>
</form> 

    <h1>Vista de los nodos</h1>
        <div id="viz"></div>
    </body>    
</html>

<script src="https://rawgit.com/neo4j-contrib/neovis.js/master/dist/neovis.js"></script>



<script type="text/javascript">

    var viz;

    function draw() {
        var config = {
            container_id: "viz",
            server_url: "bolt://localhost:7687",
            server_user: "neo4j",
            server_password: "test",
            labels: {
                "equipo": {
                    "caption": "nombre"
                },
                "jugador": {
                    "caption": "nombre"
                },
                "competicion": {
                    "caption": "nombre"
                },
            },
            relationships: {
                "COMPITE": {
                        "thickness": "weight",
                        "caption": false
                    }
            },
            initial_cypher: "MATCH (n) RETURN n"
        };

        viz = new NeoVis.default(config);
        viz.render();
    }
</script>

